main {
    padding: 10px;
    margin: 0 auto;
    max-width: 1000px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    color: #292828;
    font-weight: bold;
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #100f0f;
}

td {
    padding: 5px;
    border-bottom: 1px solid #050705;
}
p {
    color: red;
}
